@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 
  text-green-700 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg
    opacity-50 hover:opacity-100
  }

  .sidebar-text {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-75 origin-left
    cursor-default select-none;
  }

  .navigation-bar{
    @apply fixed top-0 w-screen flex flex-row bg-gray-700
     items-center justify-evenly h-14 shadow-lg rounded-t-sm
     rounded-b-xl
     opacity-50
     hover:opacity-100
  }

  .navigation-bar-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
  }

  .navigation-bar-icon:first {
    @apply ml-auto mr-4;
  }

  .navigation-text-button {
    
  }

  .title{
    @apply tracking-wider font-semibold text-opacity-80 
    mr-auto ml-10 my-auto 
    text-gray-200
    text-2xl select-none cursor-default
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-gray-400 dark:bg-gray-600
    text-gray-500
    px-2 h-9 ml-0 mr-0 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none 
    text-gray-500  placeholder-gray-500
    pl-1 rounded;
  }
}